/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0 0 120px; /* bottom = footer height */
  background-image : url("https://i.pinimg.com/originals/37/ac/79/37ac7968968a924e4f65f65ae8b37a64.gif");  
  /*
  background-size: 100% 100%;
  background-image : url("https://i.pinimg.com/originals/37/ac/79/37ac7968968a924e4f65f65ae8b37a64.gif");  
  background-image : url("https://res.cloudinary.com/dsbnrroar/image/upload/v1572520706/christmas_presents.jpg");
  background-repeat: space;
  */
}
header{
  text-align: center;
  height: 150px;
  padding-top: 50px;
  background-color: #3E4551;
  color: white;
  border-bottom: solid;
  border-color: #2E2E2E;
  opacity: 0.7;
}
footer{
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-left: 100px;
  color: grey;
  border-top: solid;
  border-color: grey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  overflow:hidden;
}
main{
  color: #3E4551;
  margin: 50px;
}
.container{
  background-color: white;
  box-shadow: 0px 0px 5px black;
  border-radius: 0.5%;
  margin: 5px;
}
.col{
  padding-top: 30px;
}
ul#hints {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

h1{
  text-shadow: 0px 0px 5px black;
}